export("monitored_fitrbmDS")
export("setJuliaSeedDS")
export("splitdataDS")
export("samplesDS")
export("defineLayerDS")
importFrom("JuliaConnectoR", "juliaUsing")
importFrom("JuliaConnectoR", "juliaExpr")
importFrom("JuliaConnectoR", "juliaLet")
