exportPattern(".*DS")
importFrom("JuliaConnectoR", "juliaCall")
importFrom("JuliaConnectoR", "juliaImport")
importFrom("JuliaConnectoR", "juliaExpr")
importFrom("JuliaConnectoR", "juliaLet")
importFrom("JuliaConnectoR", "juliaGet")
